<div class="navbar">
  <%= link_to "Home", root_path %>
  <%= link_to "Profile", '#' %>
  <%= link_to root_path do %>
    <%= image_tag "saturn.svg", height: 45%>
  <% end %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path, :class => "menu-icone", :method => 'DELETE'%>
</div>